@page "/"

<PageTitle>Observations</PageTitle>

<h1>Welcome to Observations!</h1>
<p>
    Observations is a simple applications that lets you add NOAA Weather Stations so you can view the current weather observations.
</p>
<p>
    <a href="account/register">Register</a> or <a href="account/login">Login</a>
</p>
