@page "/Location"
@using LeafletForBlazor
@using ObserveWeather.Blazor.ApiModels
@inject HttpClient Client
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="row justify-content-center">
    <div class="col-4 text-center">
        <h1>Location</h1>
    </div>
</div>
<div class="d-flex flex-row justify-content-center">
    <div class="flex-column">
        <RealTimeMap Parameters="@_parameters" height="460px" width="800px" OnClickMap="OnClickMap"
                     @ref="_realTimeMap"></RealTimeMap>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-2 text-center">@_location?.latitude</div>
    <div class="col-2 text-center">@_location?.longitude</div>
</div>

<div class="row">@_point?.Id</div>
<div class="row">@_point?.Properties.RadarStation</div>
<div class="row">@_point?.Properties.RelativeLocation.Properties.City</div>
<div class="row">@_point?.Properties.RelativeLocation.Properties.State</div>

@code{

    private RealTimeMap? _realTimeMap;

    private RealTimeMap.Location? _location;

    private Point? _point;

    readonly RealTimeMap.LoadParameters _parameters = new()
    {
        basemap = new RealTimeMap.Basemap
        {
            basemapLayers = new List<RealTimeMap.BasemapLayer>
            {
                new()
                {
                    url = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                    attribution = "©Open Street Map",
                    title = "Open Street Map",
                    detectRetina = true
                },
                new()
                {
                    url = "https://tile.opentopomap.org/{z}/{x}/{y}.png",
                    attribution = "Open Topo",
                    title = "Open Topo",
                    detectRetina = true
                },
            }
        },
        location = new RealTimeMap.Location
        {
            latitude = 33.67,
            longitude = -101.82
        },
        zoomLevel = 5,
    };

    public async Task OnClickMap(RealTimeMap.ClicksMapArgs args)
    {
        _location = args.location;
        await _realTimeMap?.movePoint([_location.latitude, _location.longitude]);
        await GetPoints(_location);
    }

    private async Task GetPoints(RealTimeMap.Location location)
    {
        var result = await Client.GetFromJsonAsync<Point>($"points/{location.latitude},{location.longitude}");
        _point = result;
    }

}