@page "/Location"
@using System.Security.Claims
@using LeafletForBlazor
@using Microsoft.AspNetCore.Authorization
@using ObserveWeather.Blazor.Core.ApiModels
@using ObserveWeather.Blazor.Core.Interfaces
@inject IHttpClientFactory Factory
@inject IHttpContextAccessor Context
@inject ILocationService LocationService
@rendermode InteractiveServer
@attribute [Authorize]

<PageTitle>Location</PageTitle>
<AuthorizeView>
    <div class="row">
        <h1>Location</h1>
    </div>

    <div class="container">
        <div class="row">
            <RealTimeMap Parameters="@_parameters" height="50vh" width="80hw" OnClickMap="OnClickMap"
                         @ref="Map"></RealTimeMap>
        </div>
        <div class="row">
            <div class="col-sm-2">Latitude: @_latitude</div>
            <div class="col-sm-2">Longitude: @_longitude</div>
        </div>

        @if (_point == null && _loading)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            if (_dataLoaded && !_alreadyHave)
            {
                <div class="row">
                    <div class="col-md-6">
                        @City, @State - @RadarStation
                        <button class="btn btn-primary" @onclick="Add" disabled="@_addDisabled">Add</button>
                    </div>
                </div>
            }
            else
            {
                @if (_dataLoaded)
                {
                    <p>You've already added this location</p>
                }
            }
        }
    </div>
</AuthorizeView>

@code{
    public required RealTimeMap Map;
    private PointModel? _point;
    private const double DefaultLatitude = 33.670;
    private const double DefaultLongitude = -101.820;
    private double _latitude;
    private double _longitude;
    private bool _loading;
    private bool _dataLoaded;
    private bool _addDisabled;
    private string City => _point?.Properties.RelativeLocation.Properties.City ?? string.Empty;
    private string State => _point?.Properties.RelativeLocation.Properties.State ?? string.Empty;
    private string RadarStation => _point?.Properties.RadarStation ?? string.Empty;
    private bool _alreadyHave;
    private string? UserId => Context.HttpContext?.User.FindFirstValue(ClaimTypes.NameIdentifier);

    private readonly RealTimeMap.LoadParameters _parameters = new()
    {
        basemap = new RealTimeMap.Basemap
        {
            basemapLayers =
            [
                new RealTimeMap.BasemapLayer
                {
                    url = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                    attribution = "©Open Street Map",
                    title = "Open Street Map",
                    detectRetina = true
                },

                new RealTimeMap.BasemapLayer
                {
                    url = "https://tile.opentopomap.org/{z}/{x}/{y}.png",
                    attribution = "Open Topo",
                    title = "Open Topo",
                    detectRetina = true
                }
            ]
        },
        location = new RealTimeMap.Location
        {
            latitude = DefaultLatitude,
            longitude = DefaultLongitude
        },
        zoomLevel = 5,
    };

    protected override void OnInitialized()
    {
        _latitude = DefaultLatitude;
        _longitude = DefaultLongitude;

        base.OnInitialized();
    }

    public async Task OnClickMap(RealTimeMap.ClicksMapArgs args)
    {
        _point = null;
        _loading = true;
        _dataLoaded = false;
        var location = args.location;
        _addDisabled = false;
        await Map.movePoint([location.latitude, location.longitude]);
        _latitude = Math.Round(location.latitude, 3);
        _longitude = Math.Round(location.longitude, 3);
        await GetPoints(location);
        _loading = false;
        _dataLoaded = true;
    }

    private async Task GetPoints(RealTimeMap.Location location)
    {
        var client = Factory.CreateClient("api.weather.gov");
        var result = await client.GetFromJsonAsync<PointModel>($"points/{location.latitude},{location.longitude}");
        var userStations = await LocationService.GetForUserAsync(UserId);

        if (result != null)
        {
            if (userStations.Any(us => us.StationId == result.Properties.RadarStation))
            {
                _alreadyHave = true;
            }
            else
            {
                _point = result;
                _alreadyHave = false;
            }
        }
    }

    private async Task Add()
    {
        await LocationService.AddAsync(_point, UserId);
        _addDisabled = true;
    }

}