@page "/Observations"
@using System.Security.Claims
@using ObserveWeather.Blazor.Core.ApiModels
@using ObserveWeather.Blazor.Core.Interfaces
@inject IHttpContextAccessor Context
@inject ILocationService LocationService

<h1>Observations</h1>
@if (_stations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
    @foreach (var station in _stations)
    {
        <li>@station.DisplayName)</li>
    }
    </ul>
}
@code {
    private IEnumerable<UserStationModel>? _stations;

    protected override async Task OnInitializedAsync()
    {
        var userId = Context.HttpContext?.User.FindFirstValue(ClaimTypes.NameIdentifier);
        _stations = 
            await LocationService.GetForUserAsync(userId);
    }

}