@using ObserveWeather.Blazor.Core.ApiModels
@inject IHttpClientFactory Factory
<p>@ObservationModel?.Properties.Temperature.Value</p>
@code {
    [Parameter]
    public UserStationModel? UserStationModel { get; set; }
    private Core.ApiModels.Observation? ObservationModel { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var client = Factory.CreateClient("api.weather.gov");
        ObservationModel = await client.GetFromJsonAsync<Core.ApiModels.Observation>($"stations/{UserStationModel?.StationId}/observations/latest");
    }

}